# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env
.env.*

# static 
static/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# FastAPI / Pydantic cache
.cache/
*.db

# Audio files (recordings, temp speech files)
*.wav
*.mp3
*.webm
*.ogg
*.flac
storage/
frontend/assets/audio/

# Node related (if later you add tooling)
node_modules/

# Docker
*.pid
*.tar
*.img

# Build / dist outputs
dist/
build/
